.todoList{
    align-items: center;
    text-align: start;
    gap: 20px;
}

.todoList li{
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.todoCount{
    text-align: center;
}

.todoInput{
    margin-top: 40px;
    text-align: start;
}
